.bg-image {
    background-image: url('../09/header/priscilla-du-preez-W3SEyZODn8U-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bg-shadow {
    background-color: rgba(0, 0, 0, .5);
}
.image-container {
     position: relative;
     display: inline-block;
}

.image-container img {
    display: block;
}

.image-container::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    box-shadow: inset 130px 130px 130px rgba(12, 8, 8, 0.7);
}

